{% extends 'base.html.twig' %}

{% block title %}Purchase index{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('hero') }}
{% endblock %}

{% block body %}
    {% include 'components/_hero.html.twig' with { title: 'My orders' } %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% include 'components/_table-purchases.html.twig' with { purchases } %}

                <a class="btn btn-success" href="{{ path('app_purchase_new') }}">Manually add an order</a>
            </div>
        </div>
    </div>
{% endblock %}
