{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('hero') }}
{% endblock %}

{% block body %}
    {% include 'components/_hero.html.twig' with { title: 'Add a new order' } %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ include('purchase/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('purchase_script') }}
{% endblock %}
