@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

@import '../variables';

.home-intro {
    align-items: center;
    background-color: $chocolate;
    display: flex;
    min-height: calc(100dvh - 58.3px);
    padding: 16px;
    text-align: center;

    @media (max-width: 370px) {
        min-height: calc(100dvh - 108px);
    }

    &__title {
        font-size: 2.5rem;
        margin: 0 0 40px;

        @media (max-width: 370px) {
            font-size: 1.8rem;
            margin: 0 0 24px;
        }

        @include media-breakpoint-up(md) {
            font-size: 4rem;
        }
    }

    &__body {
        font-size: 1.2rem;
        font-weight: 300;

        @media (max-width: 370px) {
            font-size: 1rem;
        }

        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
        }
    }
}
