$orange-light: #ffcb77;
$black: #040f16;
$white: #FFFFFF;

$success: #85b798;
$success-hover: #6c9785;
$warning: #bb8767;
$warning-hover: #ac7e62;
$danger: #ac5f5f;
$danger-hover: #a64d4d;

$chocolate: #5E0B15;
$ebony: #666547;

