<p>Reset your password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p>Hello, {{ user.name }}</p>

<p>You have requested a password reset. To continue, please visit the following link:
    <a href="{{ url('reset_password_reset', {token: resetToken.token}) }}">
        <strong>Reset password</strong>
    </a>
</p>
