<section class="home-intro text-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home-intro__title">{{ title }}</h1>
                <p class="home-intro__body">{{ body }}</p>
            </div>
        </div>
    </div>
</section>
