<section class="home-intro text-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="home-intro__title">{{ title }}</h1>
                <p class="home-intro__body">{{ body }}</p>
            </div>
        </div>

        <div class="row bg-light text-dark p-4 mt-5 rounded">
            <h2 class="text-center">How it works</h2>
            <p class="text-center">Follow these simple steps to get started:</p>
            <hr />
            <div class="col-4 text-center">
                <h3>1. Sign up</h3>
                <p>Create an account to receive a custom email address.</p>
            </div>
            <div class="col-4 text-center">
                <h3>2. Go shopping</h3>
                <p>Use the provided email address when making purchases.</p>
            </div>
            <div class="col-4 text-center">
                <h3>3. Track your orders</h3>
                <p>Access all your order information in one place.</p>
            </div>
        </div>
    </div>
</section>
