<section class="list-container mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="list-container__title-row{% if not title|default(null) %} list-container__title-row--no-title{% endif %}">
                    {% if title|default(null) %}<h2>{{ title }}</h2>{% endif %}
                    {% include 'components/_breadcrumbs.html.twig' %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 overflow-x-scroll">
                {% include 'components/_table-purchases.html.twig' with { purchases: list } %}
            </div>
        </div>

        <div class="row">
            {% if list|length > 0 %}
                <div class="col-12">
                    <a class="btn btn-primary" href="{{ show_more_url }}">Show more</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
