{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('hero') }}
{% endblock %}

{% block body %}
    {% include 'components/_hero.html.twig' with { title: app.user.name, intro: 'Hello, ' } %}

    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8">
                <p class="lead">Simply use your custom email address when placing an order,
                    and you'll receive any emails and updates within this website. Below,
                    you can view your most recent orders.
                </p>
                <p>
                    Your email address is: <strong>{{ app.user.inboundEmail }}</strong>
                </p>
            </div>
        </div>
    </div>

    {% include 'components/_list-container.html.twig' with {
        title: 'Ongoing orders', list: ongoingOrders, show_more_url: path('app_purchase_index'),
    } %}
{% endblock %}
