{% extends 'base.html.twig' %}

{% block title %}Edit item{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('hero') }}
{% endblock %}

{% block body %}
    {% include 'components/_hero.html.twig' with { title: 'Edit item', intro: item.purchase.store.name } %}

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                {{ include('item/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
{% endblock %}
